<h1> Welcome to WikiMEdia, a place to find exciting wikipedia articles! </h1>

<h3> Please login or signup to get started! </h3>

<p> <%=link_to "Login", login_path%> </p>

<p> <%=link_to "Signup", signup_path%> </p>