<br />
<br />
<br />

<article class="text-center">

<h1> Create a new WikiFriends account: </h1>

<br />


<%if flash[:errors] %>
    <% flash[:errors].each do |error| %>
        **<%= error %> <br>
        <% end %>

        <%end %>
<%= render 'form' %>

</article>