<div class="card">
<h2> Create a new WikiMEdia user: </h2>
<%if flash[:errors] %>
    <% flash[:errors].each do |error| %>
        **<%= error %> <br>
        <% end %>

        <%end %>
<%= render 'form' %>

</div>