<div class="welcome">
<div align="center"; class="header"> 
</div>

<div align= "center"; class = "card"> 
<h1> Welcome to WikiFriends </h1>

<h3> It's Wikipedia, but with friends </h3>
<h3> Please login or signup to get started! </h3>


<%= button_to "Login", login_path, :method => "get" %> <br>
<%= button_to "Signup", signup_path, :method => "get" %>

</div>
</div>