/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 .navbar-brand img {
     width:110px;
 }
 .navbar-brand {
    margin-top: -7px;
}

.navbar {
    background-color: #E9E7DA !important;
    margin-bottom: 40px;
    padding: 0px !important;
    padding-left: 20px !important;
    margin-top: -4%;
    margin-left: -4%;
    margin-right: -4%;
}



.navbar-light .navbar-nav .nav-link {
    color: #CDA34F !important;
    font-size: 16px;
    padding-right: 20px;
}

 body {
    margin: 50px 50px 0px 50px !important;    
    font: normal 15px Verdana, Arial, sans-serif;
    background-color:#CDA34F

}
footer {
    position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
    background-color:#CDA34F;

}

.navbar {
    background-color:#E9E7DA;
}





 .card {
    margin: auto;
    width: 40%;
    padding: 30px;
    box-shadow: 0 10px 10px  rgba(0,0,0,0.2);
    transition: 0.3s;
    background-color: #E9E7DA;
    align-items: center;
  }

  .searchbar {
    color: 9f7e69;
    width: 100%;
    padding: 8px 12px;
    background:#E9E7DA;
}

/* colors {
    #CDA34F
    #E9E7DA
    #636B46
    #373F27
} */
