// Place all the styles related to the Articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.comment {
    color: 9f7e69;
    width: 100%;
    padding: 8px 12px;
    background: goldenrod;
  }